@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

.content p {
  margin: 1rem 0;
}


.content h1 {
  font-size: 56px;
  font-weight: bold;
}

.content h2 {
  font-size: 44px;
  font-weight: bold;
}

.content h3 {
  font-size:32px;
  font-weight: bold;
}
.content h4 {
  font-size: 24px;
  font-weight: bold;
}
.content h5 {
  font-size: 22px;
  font-weight: bold;
}
.content h6 {
  font-size: 19px;
  font-weight: bold;
}
